<p id="notice"><%= notice %></p>


<p>
  <strong><%= @list.title %></strong>
  <%= link_to 'Edit', edit_list_path(@list) %>
</p>




<%= form_for Item.new do |item_form|%>
  <%= item_form.text_field :name, placeholder: 'Add stuff' %>

<%= item_form.hidden_field :list_id, :value => @list.id %>
<div class="actions">
  <%= item_form.submit %>
</div>
<% end %>

<table class="table-minimal">
  <thead>
    <tr>
      <th>To Do  </th>
    </tr>
  </thead>
  <tbody id = "entries">
    <% @list.items.each do |item| %>
    <tr>
      <td class = 'item_name'> <%= item.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>





<br>
<br>


