<p id="notice"><%= notice %></p>


<p>
  <strong><%= @list.title %></strong>
</p>



<%= form_for Item.new do |item_form|%>
  <%= item_form.text_field :name, placeholder: 'Stuff' %>

<%= item_form.hidden_field :list_id, :value => @list.id %>
<div class="actions">
  <%= item_form.submit %>
</div>
<% end %>

<table>
  <thead><strong>To Do</strong></thead>
  <tbody id = "entries">
    <% @list.items.each do |item| %>
    <tr>
      <td> <%= item.name %></td>
      <td><%= link_to 'Edit', edit_item_path(item)  %></td>
      <td> <%= item.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
