<p id="notice"><%= notice %></p>

<table class="table-minimal">
  <thead>
    <th><%= link_to 'Create a new list', new_list_path  %></th>
  </thead>

  <tbody>
    <% @user.lists.each do |list| %>
    <tr> 
      <td><%= link_to list.title, list_path(list) %></td>
      <td><%= link_to 'Edit', edit_list_path(list) %></td>
      <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>


</table>


